# ==========================================
# Конфигурация MS SQL Server
# ==========================================
MSSQL_SA_PASSWORD=StrongPass123!
MSSQL_PID=Developer
MSSQL_AGENT_ENABLED=True

# ==========================================
# Конфигурация Apache Superset
# ==========================================
# Сгенерируйте случайную строку для продакшена, например: openssl rand -hex 32
SUPERSET_CONFIG_PATH=/app/pythonpath/superset_config.py
SUPERSET_SECRET_KEY=bc0e844c141632e06745e97b9c11ed14ea1575a859a61045160de0e1e8fc5901

